.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right, #0a4a0f, #1a1a1a);

}

.booking-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.booking-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.booking-input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.booking-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.booking-button:hover {
    background-color: #45a049;
}

.booking-message {
    margin-top: 20px;
    font-size: 1rem;
    color: #333;
}