.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #0c0f0a, #1a3a1e, #3e704a, #2a542e);
    text-align: center;
    padding: 10px;
}
/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    padding: 60px;
    border-radius: 10px;
    color: white;
    /* position: fixed; */
    width: 100%;
    z-index: 2000;

}

.logo {
    height: 50px;
    width: auto;
}

.navbar-toggler {
    display: none;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #666;
    border-radius: 10px;
    
}

.navbar-item {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.navbar-item:hover {
    color: #72a14c;
}

.home h1 {
    font-size: 3rem;
    color: #ed1212;
    margin-bottom: 20px;
}

.home p {
    font-size: 1.5rem;
    color: #b4acac;
    margin-bottom: 40px;
}

.home-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.home-links a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home-links a:hover {
    background-color: #0056b3;
}
.home-links .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.home-links .button:hover {
    background-color: #0056b3;
}